// Global reset and base styles
@import './variables.scss';
@import './mixins.scss';

body {
  background-color: $bg;
  color: $text;
}

a {
  @include transition(all);

  color: $accent;
  text-decoration: none;
  box-shadow: 0 1px 0 transparent;
  
  &:hover,
  &:active,
  &:focus {
    color: $text;
    box-shadow: 0 0.1em 0 $accent;
  }
}
