// Global reset and base styles
@import "@fontsource/raleway/300.css";
@import "@fontsource/raleway/300-italic.css";
@import "@fontsource/raleway/800.css";
@import 'normalize.css';
@import './variables.scss';

body {
  font-family: "Raleway", "Arial", "sans-serif";
  background-color: $bg;
  color: $text;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Raleway", "Arial", "sans-serif";
}
