@import './variables.scss';

@mixin transition($property: color, $duration: 0.25s) {
  transition: $property $duration ease-in-out;
}

@mixin list-zero {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

@mixin text-link($child: '&') {
  @include transition(color);
  color: $accent;
  text-decoration: none;
  
  #{$child} {
    @include transition(box-shadow);
    box-shadow: 0 1px 0 transparent;
  }
  
  &:hover,
  &:active,
  &:focus {
    color: $text;

    #{$child} {
      box-shadow: 0 2px 0 $accent;
    }
  }
}

@mixin visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  border: 0;
  padding: 0;
  margin: -1px;
  white-space: nowrap;
  overflow: hidden;
}

@mixin container {
  max-width: 1200px;
  padding-left: $margin-mobile;
  padding-right: $margin-mobile;
  @media (min-width: $xs) {
    padding-left: $margin-desktop;
    padding-right: $margin-desktop;
  }
  @media (min-width: $lg) {
    margin-left: auto;
    margin-right: auto;
  }
}

@mixin title {
  font-size: 1.5rem;
  @media (min-width: $xs) {
    font-size: 1.875rem;
  }
  @media (min-width: $md) {
    font-size: 2.4rem;
  }
}

@mixin bg-pattern($hsl-color) {
  background-image: 
    url("data:image/svg+xml,<svg id='patternId' width='200%' height='200%' xmlns='http://www.w3.org/2000/svg'><defs><pattern id='hex' patternUnits='userSpaceOnUse' width='69.141' height='40' patternTransform='scale(2) rotate(25)'><rect x='0' y='0' width='100%' height='100%' fill='transparent'/><path d='M69.212 40H46.118L34.57 20 46.118 0h23.094l11.547 20zM57.665 60H34.57L23.023 40 34.57 20h23.095l11.547 20zm0-40H34.57L23.023 0 34.57-20h23.095L69.212 0zM34.57 60H11.476L-.07 40l11.547-20h23.095l11.547 20zm0-40H11.476L-.07 0l11.547-20h23.095L46.118 0zM23.023 40H-.07l-11.547-20L-.07 0h23.094L34.57 20z' stroke-width='2' stroke='hsl(#{$hsl-color})' fill='none'/></pattern></defs><rect width='800%' height='800%' transform='translate(-146,-16)' fill='url(%23hex)'/></svg>");
}
