@import './variables.scss';

@mixin transition($property: color, $duration: 0.25s) {
  transition: $property $duration ease-in-out;
}

@mixin list-zero {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

@mixin text-link($child: '&') {
  @include transition(color);
  color: $accent;
  text-decoration: none;
  
  #{$child} {
    @include transition(box-shadow);
    box-shadow: 0 1px 0 transparent;
  }
  
  &:hover,
  &:active,
  &:focus {
    color: $text;

    #{$child} {
      box-shadow: 0 2px 0 $accent;
    }
  }
}

@mixin visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  border: 0;
  padding: 0;
  margin: -1px;
  white-space: nowrap;
  overflow: hidden;
}

@mixin container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: $margin-mobile;
  padding-right: $margin-mobile;
  @media (min-width: $xs) {
    padding-left: $margin-desktop;
    padding-right: $margin-desktop;
  }
}

@mixin title {
  font-size: 2.4rem;
}
