// Local Color Variables
$_white: #fff;
$_black: #111;

$_pale-green: #f9faf4;
$_light-green: #edf2e3;
$_med-green: #c1cfa0;
$_teal: #50777c;
$_off-black: #393a41;

$bg: $_pale-green;
$bg-variant: $_light-green;
$text: $_off-black;
$text-subtle: transparentize($_off-black, 0.2);
$border: $_med-green;
$accent: $_teal;
$accent-variant: $_off-black;
$accent-text: $_white;
