// Breakpoints
$xs: 576px;
$sm: 768px;
$md: 992px;
$lg: 1200px;
$xl: 1400px;

// Local Color Variables
$_white: #fff;
$_black: #111;

$_pale-green: #f9faf4;
$_pale-green-hsl: 70, 37%, 97%;
$_light-green: #edf2e3;
$_light-green-hsl: 80, 37%, 92%;
$_med-green: #c1cfa0;
$_med-green-hsl: 78, 33%, 72%;
$_teal: #50777c;
$_off-black: #393a41;

$bg: $_pale-green;
$bg-hsl: $_pale-green-hsl;
$bg-variant: $_light-green;
$bg-variant-hsl: $_light-green-hsl;
$bg-variant-strong: $_med-green;
$bg-variant-strong-hsl: $_med-green-hsl;
$text: $_off-black;
$text-subtle: transparentize($_off-black, 0.2);
$border: $_med-green;
$accent: $_teal;
$accent-text: $_white;
$accent-secondary-light: $_light-green;
$accent-secondary: $_med-green;
$accent-tertiary: $_off-black;


// Sizes
$margin-mobile: 2rem;
$margin-desktop: 3rem;
