@import '../../assets/scss/variables.scss';
@import '../../assets/scss/mixins.scss';

.dropdown {
  position: relative;
}

.dropdown__link {
  display: inline-block;
  line-height: 1.2;
  white-space: nowrap;
  &::after {
    content: '';
    display: block;
  }
}

.dropdown__toggle {
  @include text-link($child: 'span');
  display: inline-flex;
  align-items: center;
  border: none;
  background-color: transparent;
  padding: 1rem;
  line-height: 1.2;
  cursor: pointer;
}

.dropdown__arrow {
  transition: transform 0.25s ease-in-out !important; // override icon styles
  transform: scaleY(1);
  transform-origin: center;
}

.isExpanded {
  transform: scaleY(-1);
}

.dropdown__items {
  @include transition(all);
  transform: translateY(-1rem);
  visibility: hidden;
  opacity: 0;
  position: absolute;
  top: 100%; 
  left: 1rem;
  background-color: $bg;
}

.isVisible {
  visibility: visible;
  opacity: 1;
  transform: translateY(-0.5rem);
}
