@import '../../assets/scss/variables.scss';
@import '../../assets/scss/mixins.scss';

.content {
  @include container;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 0.5rem;
}

.brandLink {
  @include transition;
  display: flex;
  align-items: center;
  color: $text;
  &:hover,
  &:focus,
  &:active {
    color: $accent;
  }
}

.logo {
  flex: 0 0 auto;
  max-width: 60px;
  margin-left: -1rem;
}

.name {
  flex: 1 1 auto;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  font-size: 1rem;
}

.nav__list {
  @include list-zero;
  display: none; // flex;
  align-items: center;
}

.nav__item {
  flex: 0 0 auto;
}

.nav__link {
  @include text-link($child: 'span');
  padding: 1rem;
  box-shadow: none;
  &:hover,
  &:focus,
  &:active {
    box-shadow: none;
  }
}
