@import '../../assets/scss/variables.scss';
@import '../../assets/scss/mixins.scss';

.header__brand {
  display: flex;
  align-items: center;
}

.header__logo {
  flex: 0 0 auto;
  max-width: 80px;
  margin-left: -1rem;
}

.header__name {
  flex: 1 1 auto;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  font-size: 1rem;
}

.nav__list {
  @include list-zero;
  display: flex;
  align-items: center;
}

.nav__item {
  flex: 0 0 auto;
}

.nav__link {
  @include text-link($child: 'span');
  padding: 1rem;
  box-shadow: none;
  &:hover,
  &:focus,
  &:active {
    box-shadow: none;
  }
}
