// @import '../../../assets/scss/variables.scss';
// @import '../../../assets/scss/mixins.scss';

.el {
  margin-bottom: 3rem;
  background-color: $bg-variant;
  padding-top: 2rem;
  padding-bottom: 1rem;
  text-align: center;
  @media (min-width: $sm) {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
}

.title {
  margin-top: 1rem;
  font-size: 2rem;
  @media (min-width: $sm) {
    font-size: 4rem;
  }
}

.content {
  @include container;
}
